    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Our Mission</h4>
                <p>To empower australians in understanding and fullfilling their taxes obligations.</p>
                <h4>Our Vision</h4>
                <p>We envision an Empowered Australian community who lodges their taxes in time and help others in doing so.</p>
                <h4>Our Values</h4>
                <p>We Care.</p>
                <p>We empower others.</p>
                <p>We simplify.</p>
                <p>We trust.</p>
                <a href="#quality" class="page-scroll btn btn-default btn-lg">What We Offer?</a>
            </div>
        </div>
    </section>
