    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-AU">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.description }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Income tax consultant agent based in Australia." />
    <meta property="og:description" content="Etax 50bucks Melbourne is a leading and innovative tax consultancy company based in Australia. Assisting Australians to build a bright future for Australia." />
    <meta property="og:url" content="http://etax.50bucks.info" />
    <meta property="og:site_name" content="Cheap Income tax returns, refunds, assistance and support." />
